<div class="container mt-3">
  <div class="row">
    <div class="col">
      <h2 class="text-black p-4" style="text-decoration: underline; text-decoration-color: #996600;">管理者ログイン</h2>
    </div>
  </div>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form"}) do |f| %>
    <div class="row mt-4">
      <div class="col">
        <table class="table table-borderless">
          <tr>
            <th>メールアドレス</th>
            <td>
              <div class="col-md-6"> <!-- ここで幅を調整 -->
                <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com", class: "form-control" %>
              </div>
            </td>
          </tr>

          <tr>
            <th>パスワード</th>
            <td>
              <div class="col-md-6"> <!-- ここで幅を調整 -->
                <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
              </div>
            </td>
          </tr>

          <tr>
            <th></th>
            <td><%= f.submit "ログイン", class: "btn btn-outline-info btn-" %></td>
          </tr>
        </table>
      </div>
    </div>
  <% end %>
</div>

<div class="container-fluid mt-5" style="height: 30vh;"></div>

<%= render "admin/shared/links" %>
