<div style="background: url('<%= asset_path('top_img.jpg') %>') center center no-repeat; background-size: cover; text-align: center; height: 80vh; position: relative;">
  <div class="container">
    <div class="row">
      <div class='mx-auto t-2 col-11 col-sm-10 col-lg-8 col-xl-6'>
        <p>
          ようこそ、ながのCAKEへ！<br>
          このサイトは、ケーキ販売のECサイトになります。<br>
          会員でない方も商品の説明はできますが、<br>
          購入には会員登録が必要になります。
        </p>
      </div>
    </div>
  </div>
  <h2>新着商品</h2>
  <div class="new-items" style="display: flex; justify-content: space-around; padding: 0 100px;">
    <% @items.each do |item| %>
      <div style="padding: 10px; background-color: #ffffff; flex: 1; margin: 10px;">
        <%= link_to item_path(item) do %>
          <%= image_tag item.get_item_image(50, 50), class: "card-img-top rounded shadow-sm" %>
          <h5 style="margin: 0; padding: 0;"><%= item.name %></h5>
          <p style="margin: 0; padding: 0;">¥<%= number_with_delimiter(item.price) %></p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
  <!-- すべての商品を見るリンク -->
<div style="position: absolute; bottom: 80px; right: 20px;">
  <%= link_to 'すべての商品を見る＞',  items_path, class: 'btn btn-outline-light' %>
</div>