<!--レイアウト未完成-->
<!--顧客登録後、挙動確認-->
<!--大枠であげてます。後に修正します-->

<div class="container mt-3">
  <div class="row">
    <h4 class="text-black">会員一覧</h4>
  </div>

  <table class='table'>
    <thead>
      <tr>
        <th>会員ID</th>
        <th>氏名</th>
        <th>メールアドレス</th>
        <th>ステータス</th>
      </tr>
    </thead>

    <tbody>
      <% @customers.each do |customer| %>
        <tr>
          <td><%= customer.id %></td>
          <td>
            <%= link_to "#{customer.last_name} #{customer.first_name}", admin_customer_path(customer.id) %>
          </td>
          <td><%= customer.email %></td>
          <td><%= customer.is_active %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="row justify-content-center">
    <%= paginate @customers %>
  </div>
</div>