<!--<%# if flash[:notice] %>-->
<!--  <div class="alert alert-success"><%#= notice %></div>-->
<!--<%# end %>-->

<div class="container mt-3 ms-5">
  <div class="row">
    <h4 class="text-black">
      <%= @customer.last_name %> <%= @customer.first_name %>さんの会員詳細
    </h4>
  </div>

  <div class="row form-group justify-content-center mt-5">
    <div class="col-sm-3">
      <span>会員ID</span>
    </div>
    <div class="col-sm-7">
      <%= @customer.id %>
    </div>
  </div>

  <div class="row form-group justify-content-center">
    <div class="col-sm-3">
      <span>氏名</span>
    </div>
    <div class="col-sm-7">
      <%= @customer.last_name %> <%= @customer.first_name %>
    </div>
  </div>

  <div class="row form-group justify-content-center">
    <div class="col-sm-3">
      <span>フリガナ</span>
    </div>
    <div class="col-sm-7">
      <%= @customer.last_name_kana %> <%= @customer.first_name_kana %>
    </div>
  </div>

  <div class="row form-group justify-content-center">
    <div class="col-sm-3">
      <span>郵便番号</span>
    </div>
    <div class="col-sm-7">
      <%= @customer.postal_code %>
    </div>
  </div>

  <div class="row form-group justify-content-center">
    <div class="col-sm-3">
      <span>住所</span>
    </div>
    <div class="col-sm-7">
      <%= @customer.address %>
    </div>
  </div>

  <div class="row form-group justify-content-center">
    <div class="col-sm-3">
      <span>電話番号</span>
    </div>
    <div class="col-sm-7">
      <%= @customer.telephone_number %>
    </div>
  </div>

  <div class="row form-group justify-content-center">
    <div class="col-sm-3">
      <span>メールアドレス</span>
    </div>
    <div class="col-sm-7">
      <%= @customer.email %>
    </div>
  </div>

  <div class="row form-group justify-content-center">
    <div class="col-sm-3 mb-3">
      <span>会員ステータス</span>
    </div>
    <div class="col-sm-7">
      <% if @customer.is_active == true %>
        <span class="text-success font-weight-bold align-middle">有効</span>
      <% else %>
        <span class="text-secondary font-weight-bold align-middle">退会</span>
      <% end %>
    </div>
  </div>

  <div class="row text-center mb-5 ms-10">
    <div class = "offset-1 text-center">
      <%= link_to "編集する", edit_admin_customer_path(@customer.id),class: "ml-3 mb-5 mr-0 btn btn-success" %>
    </div>
    <div class = "offset-1 text-center">
      <%= link_to "注文履歴一覧を見る", admin_root_path,class: "mx-3 mb-5 btn btn-primary" %>
    </div>
  </div>

</div>