<!--ジャンル追加成功・失敗フラッシュメッセージ-->
<% if flash[:notice].present? && flash[:notice] == "ジャンルを追加しました。" %>
  <div class="alert alert-success">
    <%= flash[:notice] %>
  </div>
<% elsif flash[:error].present? && flash[:error] == "入力内容を確認してください。" %>
  <div class="alert alert-danger">
    <%= flash[:error] %>
  </div>
<% elsif flash[:update].present? && flash[:update] == "ジャンルを更新しました。" %>
  <div class="alert alert-success">
    <%= flash[:update] %>
  </div>
<% end %>

<div class="container mt-3">
  <div class="row">
      <h4 class="text-black p-2" style="text-decoration: underline; text-decoration-color: #795548;">ジャンル一覧・追加</h4>
  </div>

<!--ジャンル追加ボックス-->
  <div class="row form-group justify-content-center">
    <%= form_with model: @genre, url: admin_genres_path, local: true do |f| %>
      <div class="row">
        <div class="col-sm-3">
          <%= f.label "ジャンル名", class: "col-form-label" %>
        </div>
        <div class="col-sm-6">
          <%= f.text_field :name, placeholder: "ジャンル名", class: "form-control name" %>
        </div>
        <div class="col-sm-2">
          <%= f.submit "新規登録", class: "btn btn-success" %>
        </div>
      </div>
    <% end %>
  </div>

<!--ジャンル一覧-->
  <div class="row">
    <div class="col-sm-10 px-sm-0 mx-auto mb-5">
      <table class="table text-center mb-5">
        <thead class="table-secondary">
          <tr>
            <th>ジャンル</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @genres.each do |genre| %>
          <tr>
            <td><%= genre.name %></td>
            <td><%= link_to "編集する", edit_admin_genre_path(genre), class:"btn btn-success py-0" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>