インデント未完成
<h2 class="mb-4">配送先情報の編集</h2> <!-- 配送先情報の編集タイトル -->

<%= form_with model: @address, url: address_path(@address), method: :patch do |f| %> <!-- アドレスの更新フォーム -->
  <div class="field">
    <%= f.label :postal_code, "郵便番号（ハイフンなし）" %> <!-- 郵便番号ラベル -->
    <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code", placeholder: "0000000" %> <!-- 郵便番号入力 -->
  </div><br>
  <div class="field">
    <%= f.label :address, "住所" %> <!-- 住所ラベル -->
    <%= f.text_field :address, autofocus: true, autocomplete: "address", placeholder: "東京都渋谷区代々木神園町0-0" %> <!-- 住所入力 -->
  </div><br>
  <div class="field">
    <%= f.label :name, "宛名" %> <!-- 宛名ラベル -->
    <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "令和道子" %> <!-- 宛名入力 -->
  </div><br>
  <br>
  <%= f.submit "更新", class: "btn btn-info" %> <!-- 更新ボタン -->
<% end %>