<div class="container mt-3">
  <div class="row">
    <h2 class="text-black p-2" style="text-decoration: underline; text-decoration-color: #996600;">新規会員登録</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "public/shared/error_messages", resource: resource %>
  </div>
      <div class="row mt-3">
        <div class="col">
          <table class="table table-borderless">
            <tr>
              <div class="field">
                <th><%= f.label :last_name, "名前" %></th>
                <td>
                  <%= f.label :last_name, "(姓)"%>
                  <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", placeholder: "令和" %>
                  <%= f.label :first_name, "(名)" %>
                  <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", placeholder: "道子" %>
                <td>
              </div>
            </tr>

            <tr>
              <div class="field">
                <th><%= f.label :last_name_kana, "フリガナ" %></th>
                <td>
                  <%= f.label :last_name_kana, "(セイ)" %>
                  <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana", placeholder: "レイワ" %>
                  <%= f.label :first_name_kana, "(メイ)" %>
                  <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana", placeholder: "ミチコ" %>
                </td>
              </div>
            </tr>

            <tr>
              <div class="field">
                <th><%= f.label :email, "メールアドレス" %></th>
                <td>
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@exanple.com" %>
                </td>
              </div>
            </tr>

            <tr>
              <div class="field">
                <th><%= f.label :postal_code, "郵便番号（ハイフンなし）" %></th>
                <td>
                  <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code", placeholder: "0000000" %>
                </td>
              </div>
            </tr>

            <tr>
              <div class="field">
                <th><%= f.label :postal_code, "住所" %></th>
                <td>
                  <%= f.text_field :address, autofocus: true, autocomplete: "address", placeholder: "東京都渋谷区代々木神園町0-0", style: "width: 500px;" %>
                </td>
              </div>
            </tr>

            <tr>
              <div class="field">
                <th><%= f.label :telephone_number, "電話番号（ハイフンなし）" %></th>
                <td>
                  <%= f.text_field :telephone_number, autofocus: true, autocomplete: "telephone_number", placeholder: "0000000000" %>
                </td>
              </div>
            </tr>

            <tr>
              <div class="field">
                <th>
                  <%= f.label :password, "パスワード" %>
                  <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %>文字以上)</em>
                  <% end %>
                </th>
                <td>
                  <%= f.password_field :password, autocomplete:"encrypted_password" %>
                </td>
              </div>
            </tr>


            <tr>
              <div class="field">
                <th><%= f.label :password_confirmation, "パスワード(確認用)" %></th>
                <td>
                  <%= f.password_field :password_confirmation, autoforcus: true, autocomplete: "current-password" %>
                </td>
              </div>
            </tr>

            <tr>
              <div>
                <th></th>
                <td><%= f.submit "新規登録", class: "btn btn-outline-info btn-lg" %></th>
                </td>
              </div>
            </tr>
        </table>
    <% end %>
    </div>
    </div>
      <br>
      <h4 class="text-black" style="text-decoration: underline; text-decoration-color: #996600;">既に登録済みの方</h4>
      <p class="text-black" style="text-decoration: underline; text-decoration-color: #996600;"><%= link_to "こちら", customer_session_path %>&emsp;からログインしてください。</p>
</div>
