<div class="container">
  <div class="row mt-3 col-sm-10 px-sm-0 mx-auto">
    <h4 class="text-black">注文履歴一覧</h4>
  </div>

  <% if current_customer.orders.present? %>
    <div class="row mt-3 col-sm-10 px-sm-0 mx-auto">
      <table class="table text-center">
        <thead class="table-secondary">
          <th>注文日</th>
          <th>配送先</th>
          <th>注文商品</th>
          <th>支払金額</th>
          <th>ステータス</th>
          <th>注文詳細</th>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
            <tr>
              <td><%= order.created_at %></td>
              <td><%= order.address %></td>
              <td>
                <% order_details = order.order_details %>
                <% order_details.each do |order_detail| %>
                  <%= order_detail.item.name %><br>
                <% end %>
              </td>
              <td><%= order.total_payment %></td>
              <td><%= order.status_i18n %></td>
              <td><%= link_to "表示する", order_path(order.id), class:"btn btn-primary" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <div class="row mt-3 col-sm-10 px-sm-0 mx-auto">
      <p>注文情報がありません。</p>
    </div>
  <% end %>
</div>