<div class="container mt-3">
  <div class="row">
    <div class="col">
      <h3 class="text-black" style="text-decoration: underline; text-decoration-color: #996600;">ログイン</h3>

    </div>
  </div>

  <div class="row">
    <div class="ml-5">
      <h3 class="text-black" style="text-decoration: underline; text-decoration-color: #996600;">会員の方はこちらからログイン</h3>
    </div>
  </div>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="row mt-3">
      <div class="col">
        <table class="table table-borderless">
          <tr>
            <th>メールアドレス</th>
            <td>
              <div class="col-md-6">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com", class: "form-control" %>
              </div>
            </td>
          </tr>
          <tr>
            <th>パスワード</th>
            <td>
              <div class="col-md-6">
                <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
              </div>
            </td>
          </tr>
          <tr>
            <th></th>
            <td>
              <%= f.submit "ログイン", class: "btn btn-outline-info btn-sm" %>
            </td>
          </tr>
        </table>
      </div>
    </div>
  <% end %>

  <div class="row mt-4">
    <div class="col">
      <h4 cclass="text-black" style="text-decoration: underline; text-decoration-color: #996600;">会員登録がお済でない方</h4>
      <div class="ml-5">
        <p class="text-black" style="text-decoration: underline; text-decoration-color: #996600;"><%= link_to "こちら", new_customer_registration_path %>から新規登録を行ってください。</p>
      </div>
      </div>
    </div>
<!-- 画面下部に大きな余白を作成 -->
<div class="container-fluid mt-5" style="height: 25vh;"></div>
