<div class="container mt-3 mb-3">
  <div class="row">
    <!-- ジャンルサイドバー -->
    <div class="col-md-2">
      <%= render 'sidebar', genres: @genres %>
    </div>

    <!-- 商品画像と商品情報 -->
    <div class="col-md-9 offset-1">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-4">
          <%= image_tag @item.get_item_image(50,50), size: "250x250", style: "max-width: 100%;" %>
        </div>
        <div class="col-12 col-sm-6 col-md-6">
          <h2 class="text-black p-2" style="text-decoration: underline; text-decoration-color: #795548;"><strong><%= @item.name %></strong></h2>
          <p><%= @item.introduction %></p>
          <% if @item.is_active == true %>
            <p class="text-success">販売中</p>
            <h3>¥ <%= @item.with_tax_price.to_s(:dalimited) %> (税込)</h3>
            <%= form_with(model: @cart_item, local: true, class: "form-inline") do |f| %>
              <%= f.hidden_field :item_id, value: @item.id %>
              <%= f.select :amount,[1,2,3,4,5,6,7,8,9,10],{include_blank: '個数選択'},required:true, class: "form-control mr-3"%>
              <%= f.submit "カートに入れる", class: "btn btn-success" %>
            <% end %>
          <% else %>
            <h3 class="text-danger">販売停止中です</h3>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>